/* overarching styles*/

html{
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

/*main sections universal styling*/
header,
.banner,
nav,
.product-grid,
.business-info,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

/*containers for full website*/
.container {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: flex-start;
}

/*header*/
header {
  background-color: black;

}

header img {
  display: inline-block;
  height: 1.5rem;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

header h5 {
  display: inline-block;
  font-size: 1rem;
  color: white;
  text-transform: capitalize;
  padding: 0.66rem 0rem;
}

/*main banner*/

.banner {
  height: 25rem;
  padding-top: 9rem;
  background-image: url("./../images/bannerbg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.new {
  background-color: black;
  color: white;
  text-transform: capitalize;
  width: 20rem;
  padding: 2rem 3rem;
}

.new h5 {
  font-size: 1rem;
  font-weight: bold;
}

.new h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

/*nav bar*/

nav {
  background-color: firebrick;
}

ul {
  display: inline-flex;
  flex-direction: row;
  padding: 0.75rem 0rem;
  justify-content: space-between;;
  align-items: center;
}

li {
  padding-right: 6rem;
  color: white;
}

/*alternative nav bar for smaller screens*/

.alt-nav {
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: firebrick;
  padding: 0.75rem 0;
}

/*product grid*/

.products {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.product,
.product-glasses {
  display: flex;
  border: 4px solid black;
  flex-direction: column;
  margin: 3rem 0;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 15rem;
}

/*product images*/

.product-image img {
  max-height: 9rem;
  max-width: 9rem;
  padding: 2rem 2rem;
  justify-content: center;
  align-items: center;
}

 img.glasses {
  max-height: 100%;
  width: auto;
  display: block;
  align-items: center;
  justify-content: center;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

/*titles under products*/

.product span,
.product-glasses span {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  width:100%;
  text-align: center;
}

/*business info*/

.business-info.container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

}

.info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-end;
  width: 100%;
}

span.title {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  width: 35%;
}

/*footer*/

footer {
  margin-top: 4rem;
  background-color: black;
}

.copyright {
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 1024px){
  .new h1 {
    font-size: 1.5rem;
  }

  .new h5 {
    font-size: 0.75rem;
  }

  nav ul {
    display: none;
  }

  .alt-nav2 {
    display: flex;
    width: 100%;
  }

.product-glasses {
  display: none;
}

.product {
  width: 47%;
}

}
