html{
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

header,
.banner,
nav,
.product-grid,
.business-info,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: flex-start;
}

header {
  background-color: black;
}

header img {
  display: inline-block;
  height: 1.5rem;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

header h5 {
  display: inline-block;
  font-size: 1rem;
  color: white;
  text-transform: capitalize;
  padding: 0.66rem 0rem;
}

.banner {
  height: 25rem;
  padding-top: 9rem;
  background-image: url("./../images/bannerbg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.new {
  background-color: black;
  color: white;
  text-transform: capitalize;
  width: 20rem;
  padding: 2rem 3rem;
}

.new h5 {
  font-size: 1rem;
  font-weight: bold;
}

.new h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}
